*.[goa]
/boiler.mk
/check/*.out
/check/*.ref
/check/cmbcls
/check/decomp
/check/isualn
/check/isualn.c
/check/isualp
/check/isualp.c
/check/isuasc
/check/isuasc.c
/check/isubla
/check/isubla.c
/check/isucas
/check/isucas.c
/check/isucnt
/check/isucnt.c
/check/isudel
/check/isudel.c
/check/isudig
/check/isudig.c
/check/isugra
/check/isugra.c
/check/isuide
/check/isuide.c
/check/isuign
/check/isuign.c
/check/isulow
/check/isulow.c
/check/isunch
/check/isunch.c
/check/isupal
/check/isupal.c
/check/isupdi
/check/isupdi.c
/check/isuppu
/check/isuppu.c
/check/isupri
/check/isupri.c
/check/isupun
/check/isupun.c
/check/isupxd
/check/isupxd.c
/check/isusnt
/check/isusnt.c
/check/isuspa
/check/isuspa.c
/check/isusta
/check/isusta.c
/check/isuupp
/check/isuupp.c
/check/isuxdi
/check/isuxdi.c
/check/mincat
/check/recomp
